* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
}

.score-box {
    width: 40%;
    margin: 50px auto;
    text-align: center;
    font-size: 2.0em;
}

.score {
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.0em;
}

.container {
    display: flex;
    width: 35%;
    margin: 20px 100px;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.choice {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(197, 229, 240);
    border: none;
}

.slide-in {
    animation-duration: 0.6s;
    animation-name: slide-in;
}

@keyframes slidein {
    from {
        
    }

    to {

    }
}

.computer-player {
    margin: 20px 100px;
    width: 35%;
    float: right;
    display: flex;
    justify-content: center;
}

#computer-choice {
    width: 200px;
    height: 200px;
    background-size: contain;
}

.rock {
    background: url(images/rock_comp.png);
    background-color: lightcoral;
}

.paper {
    background: url(images/paper_comp.png);
    background-color: lightcoral;
}

.scissors {
    background: url(images/scissors_comp.png);
    background-color: lightcoral;
}




.choice:hover {
    cursor: pointer;
    border: 1px solid black;
}

#rock {
    background-image: url(images/rock.png);
    background-size: contain;
}

#paper {
    background-image: url(images/paper.png);
    background-size: contain;
}

#scissors {
    background-image: url(images/scissors.png);
    background-size: contain;
}